// COLORS
$primary-color: #68ff5b;
$secondary-color: #68ff5ab7;
// $primary-color: #7f449d;
// $secondary-color: #793fc1;
// $primary-color: #F2CB05;
// $secondary-color: #F2B705;
$white-color: rgb(255, 255, 255);
$dark-grey:#303030;
$dark-blue-text: #272341; // For Headings
// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;